
<div *ngIf="task">
    <h2><span>Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{task.name}}</span>
        </dd>
        <dt><span>Estimated Hours</span></dt>
        <dd>
            <span>{{task.estimatedHours}}</span>
        </dd>
        <dt><span>Resource</span></dt>
        <dd>
            <span>{{task.resource}}</span>
        </dd>
        <dt><span>Cost</span></dt>
        <dd>
            <span>{{task.cost}}</span>
        </dd>
        <dt><span>Number Of Resources</span></dt>
        <dd>
            <span>{{task.numberOfResources}}</span>
        </dd>
        <dt><span>Sub Total</span></dt>
        <dd>
            <span>{{task.subTotal}}</span>
        </dd>
        <dt><span>Phase</span></dt>
        <dd>
            <div *ngIf="task.phase">
                <a [routerLink]="['/phase', task.phase?.id]">{{task.phase?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
