<div>
    <h2>
        <span>Tasks</span>
        <button class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/', { outlets: { popup: ['task-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tasks">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span>ID</span></th>-->
            <th><span>Name</span></th>
            <th><span>Estimated Hours</span></th>
            <th><span>Resource</span></th>
            <th><span>Cost</span></th>
            <th><span>Number Of Resources</span></th>
            <th><span>Sub Total</span></th>
            <th><span>Phase</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks ;trackBy: trackId">
                <!--<td>{{task.id}}</td>-->
                <td><a [routerLink]="['../task', task.id ]">{{task.name}}</a></td>
                <td>{{task.estimatedHours}}</td>
                <td>{{task.resource}}</td>
                <td>{{task.cost}}</td>
                <td>{{task.numberOfResources}}</td>
                <td>{{task.subTotal}}</td>
                <td>
                    <div *ngIf="task.phase">
                        <a [routerLink]="['../phase', task.phase?.id ]" >{{task.phase?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../task', task.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
