<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectLabel">Create or edit a Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!project.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="project.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="project.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_accoutManager">Accout Manager</label>
            <input type="text" class="form-control" name="accoutManager" id="field_accoutManager"
                [(ngModel)]="project.accoutManager" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_presalesArchitect">Presales Architect</label>
            <input type="text" class="form-control" name="presalesArchitect" id="field_presalesArchitect"
                [(ngModel)]="project.presalesArchitect" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_defaultProjectMargin">Default Project Margin</label>
            <input type="number" class="form-control" name="defaultProjectMargin" id="field_defaultProjectMargin"
                [(ngModel)]="project.defaultProjectMargin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subcontractProjectMargin">Subcontract Project Margin</label>
            <input type="number" class="form-control" name="subcontractProjectMargin" id="field_subcontractProjectMargin"
                [(ngModel)]="project.subcontractProjectMargin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pmpercentage">Pmpercentage</label>
            <input type="number" class="form-control" name="pmpercentage" id="field_pmpercentage"
                [(ngModel)]="project.pmpercentage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_risk">Risk</label>
            <input type="number" class="form-control" name="risk" id="field_risk"
                [(ngModel)]="project.risk" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
