
<div *ngIf="gW_SKU_COST">
    <h2><span>GW SKU COST</span> {{gW_SKU_COST.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Sku</span></dt>
        <dd>
            <span>{{gW_SKU_COST.sku}}</span>
        </dd>
        <dt><span>Cost</span></dt>
        <dd>
            <span>{{gW_SKU_COST.cost}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gw-sku-cost/'+ gW_SKU_COST.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
