<div>
    <h2>
        <span>GW SKU COSTS</span>
        <button class="btn btn-primary float-right jh-create-entity create-gw-sku-cost" [routerLink]="['/', { outlets: { popup: ['gw-sku-cost-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new GW SKU COST
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gW_SKU_COSTS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Sku</span></th>
            <th><span>Cost</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gW_SKU_COST of gW_SKU_COSTS ;trackBy: trackId">
                <td><a [routerLink]="['../gw-sku-cost', gW_SKU_COST.id ]">{{gW_SKU_COST.id}}</a></td>
                <td>{{gW_SKU_COST.sku}}</td>
                <td>{{gW_SKU_COST.cost}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../gw-sku-cost', gW_SKU_COST.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gw-sku-cost/'+ gW_SKU_COST.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gw-sku-cost/'+ gW_SKU_COST.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
